{% extends "base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Welcome to the Product Detail Page</h1>
    <h2>Product Details:</h2>
    <p>Id_num: {{product_details.id}}</p>
    <p>Name: {{product_details.name}}</p>
    <p>Price: {{product_details.price}}</p>
    <p>Warrenty: {{product_details.warrenty}}</p>
    <p>Water Resistance: {{product_details.waterRes}}</p>
    <p>Display: {{product_details.display}}</p>




  </div>
  <div class="container">

  </div>

{% endblock %}
